# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules

# testing
coverage

# production
client/build
server/dist

#resources
template

# misc
.DS_Store
.env
npm-debug.log
